<%- include("partials/header"); -%>

<div class="aboutme">
    <div class="row">
        <div class="col-md-4">
            <div class="about-img ">
                <img src="../public/img/photo.jpeg" alt="" class="harsh">
            </div>
        </div>
        <br>
        <div class="col-md-8 about">
            <h2 class="color-3 head-abt"><b>About Me</b></h2>
            <br>
            <p>Hi, this is <b>Harsh Agrawal</b>, an undergrad student at IIT Guwahati. I am currently exploring the field of Development, and I am enjoying it. I would even like to take part in open source contributions in the future. ML and AI are the fields that amuse me, and I would definitely explore this field. I started Node.js workshop and I am happy to complete the mini-project assigned within the deadline , through this project I learned a lot about practical use of Node.js. Hoping to completing many more projects!! </p>
            <div class="row social">
                <div class="col-1">
                    <a href="https://www.linkedin.com/in/harshagrawal523/" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="col-1">
                    <a href="https://github.com/harshagrawal523" target="_blank"><i class="fa fa-github"></i></a>
                </div>
                <div class="col-1">
                    <a href="https://www.facebook.com/harsh9910012385/" target="_blank"><i class="fa fa-facebook"></i></a>
                </div>
                
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer"); -%>